* {
  margin: 0; padding: 0; border: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, .page {
  height: auto;
  min-height: 100vh;
}

/* Top bar above sticky menu */
 #top-bar{
  background: rgb(235, 164, 188);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; 
  padding: 0px 20px;
  padding-top: 40px;
  color: #522c61;
  
}


.address, .logo, .search-bar{
  flex: 1;
  font-weight: bold;
}

.logo-container{
  flex: 1;
  display: flex;
  justify-content: center;
}


.logo-container img {
  max-height: 400px;
  width: auto;
 
}


.search-bar{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  
}

.page{

  padding: 2em;
}

p {
  margin: 10px 0;
}

ul {
  margin: 20px;
}

/* Sticky bar menu */
#menu {
  background-color: rgb(241, 153, 205);
  color: #771a53;
  line-height: 4em;
  padding: 0 1em;
  position: sticky;
  top: 0;
  width: center;
  text-align: center;
}

#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
  color: #bc54e6;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
  font-weight: bold;
}

#menu a:hover {
  color: #54c9e6;
}

#menu div {
  display: inline-block;
}

/* Front page slide show */
.cycle-slideshow img{
  width: 100%;
}

.center{
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  z-index: 900; /*  stacking order of elements */
  left: 45%;
}

#prev, #next, .slideshow-nav{
  text-decoration: none;
  font-size: 20px;
  color: #771a53;

}

.slideshow{
  position: relative;

}

#prev:hover, #next:hover{
  color: #54c9e6;
}

#prev{
  margin-right: 5px;
  
}

#next{
  margin-left: 5px;
}


/* Featured collection */
.wide-banner-one{
  width: 100%;
  margin: 0;
  overflow: hidden;
  
}

.banner-image-one{
  width: 100%;
  object-fit: contain;
  display: block;
  height: auto;
}

.square-grid{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px auto;
  width: 90%;
}

/* image backgrounds */
.square-item{
  flex: 1;
  min-width: 0;
  background-color: white; 
  padding: 20px; 
  background-size: cover;
  background-position: center;

  
}
.square-item:hover{
    background-image: url(../images/imgback.jpg);
  
  -webkit-transition:all 1s
  ease-in-out .2s;
  -moz-transition:all 1s
  ease-in-out .2s;
  -ms-transition:all 1s
  ease-in-out .2s;
  -o-transition:all 1s
  ease-in-out .2s;
  transition:all 1s
  ease-in-out .2s;

}


.square-image{
  width:100%;
  object-fit: cover;
  aspect-ratio: 1;
  min-height: 200px;
 background-color: transparent;
  
}


.image-caption{
  margin-top: 10px;
  font-weight: bold;
  color: #771a53;
  text-align: center;
}

.image-caption:hover{
  color: #54c9e6;
}

#two 
{ background-color: #f7aee7;
  padding: 40px 0;
}


/* News and Events*/
.wide-banner-two{
  width: 100%;
  margin: 0;
  overflow: hidden;
  
}

.banner-image-two{
  width: 100%;
  object-fit: contain;
  display: block;
  height: auto;
}

.square-grid2{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px auto;
  width: 90%;
}

/* image backgrounds */
.square-item2{
  flex: 1;
  min-width: 0;
  background-color: white;
  padding: 20px;
  background-size: cover;
  background-position: center;
 
}
.square-item2:hover{
    background-image: url(../images/imgback.jpg);
  
  -webkit-transition:all 1s
  ease-in-out .2s;
  -moz-transition:all 1s
  ease-in-out .2s;
  -ms-transition:all 1s
  ease-in-out .2s;
  -o-transition:all 1s
  ease-in-out .2s;
  transition:all 1s
  ease-in-out .2s;

}

.square-image2{
  width:100%;
  object-fit: cover;
  aspect-ratio: 1;
  min-height: 200px;
  background-color: transparent;
}

.image-caption2{
  margin-top: 10px;
  font-weight: bold;
  color: #771a53;
  text-align: center;
}

.image-caption2:hover{
  color: #54c9e6;
}

#three{ 
  background-color: #98cde2; 
  padding: 40px 0;
}

/* Footer/About Us */

h2 {
  font-size: 3em;
  padding-top: 1em;
  text-align: center;
}

.about-sections{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0;
  width: 90%;
  padding: 0;
}

.about-sections ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-section a{
  text-decoration: none;
}

.about-section{
  padding: 25px;
  font-weight: bold;
}

.about-links a:hover{
  color: #54c9e6;
}

.about-section h3{
  color: #771a53;
  text-align: center;
}

.about-links li{
  margin: 5px 0;
  
}
.about-links a{
  color: #522c61;
}

#four { 
  background-color: #d6c0e5; 
  overflow: hidden; 
  min-height: 100px;
  padding-bottom: 70px;
}


/* Media Queries */

/* Mobile */
@media screen and (min-width: 200px) and (max-width: 499px){

  #top-bar{
    height: auto;
    flex-direction: column;
    padding: 5px 10px;
    margin: 0;
    gap: 0;
  }

  .address{
    font-size: 10px;
  }

  .logo-container img{
    max-height: 800px;
    width: auto;
    
  }

  .center{
    text-align: center;
    display: flex;
    justify-content: center;
    
  }

  .square-grid, .square-grid2{
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

  .about-sections{
    flex-direction: column;
  }
  
}

/* Tablet */
@media screen and (min-width: 500px) and (max-width: 1024px){

  #top-bar{
    height: auto;
    flex-direction: column;
    padding: 10px 15px;
    margin: 0;
    gap: 0;
  }
  .address{
    font-size: 50px;
  }

  .logo-container img{
    max-height: 1000px; 
    width: auto;
    display: block;
  }

  .center{
    text-align: center;
    display: flex;
    justify-content: center;
    
  }

  .square-grid, .square-grid2{
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

  .about-sections{
    flex-direction: column;
  }

}

/* Large Monitors (Desktop) */
@media screen and (min-width: 1440px){
  #top-bar{
    padding: 0 100px;
    padding-top: 50px;
  }

  .logo-container img{
    max-height: 450px;
  } 

  .page{
    padding: 2em 100px;
  }

  h2{
    font-size: 3em;
  }

}

